{% extends 'layouts/base.html' %}


{% block body %}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

      <header class="pt-4 pb-5">
        <div class="d-flex justify-content-between align-items-center">

          <div class="d-flex align-items-center small">
            {% if request.endpoint == 'pages.active_tasks' %}
            <span class="text-black-50">Active Tasks</span>
            {% else %}
            <a href="{{ url_for('pages.active_tasks') }}" class="link-info">Active Tasks</a>
            {% endif %}

            {% if request.endpoint == 'pages.completed_tasks' %}
            <span class="text-black-50 ms-4">Completed Tasks</span>
            {% else %}
            <a href="{{ url_for('pages.completed_tasks') }}" class="link-info ms-4">Completed Tasks</a>
            {% endif %}
          </div>

          <div class="d-flex align-items-center">
            <p class="small text-muted text-truncate mb-0 me-3" style="max-width: 260px;">You ar logged in as <span class="fw-bold">{{ g.user_username }}</span></p>
            <form action="{{ url_for('forms.logout') }}" method="POST">
              <button type="submit" class="btn btn-sm btn-light"><small>Logout</small></button>
            </form>
          </div>

        </div>
      </header>

      <div class="mb-5">{% block topline %}{% endblock %}</div>

      <main class="mb-4">{% block main %}{% endblock %}</main>

    </div>
  </div>
</div>
{% endblock %}